{% extends "base.html.twig" %}

{% block title %}{{ mainPage.title }} | Loose Reins{% endblock %}

{% block body %}

    {#---------MAIN PAGE TITLE AND BANNER IMAGE----------#}
    {% include "partials/page-header.html.twig" with {"title": mainPage.title, "image": mainPage.image} %}

    {#---------------MAIN PAGE PANELS---------------#}
    {# @var panel \App\Entity\Panel #}
    {% for panel in mainPage.panels %}
        {% include "panels/curated-content.html.twig" with {"panel": panel} only %}
    {% endfor %}

    <div style="height: 500px; background-color: gray"></div>

{% endblock %}