<div class="four-image-container">
    <div class="image-wrapper">
        <img src="{{ asset('images/cabins/living/image-1.jpg') }}" alt="">
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('images/cabins/living/image-2.jpg') }}" alt="">
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('images/cabins/living/image-3.jpg') }}" alt="">
    </div>
    <div class="image-wrapper">
        <img src="{{ asset('images/cabins/living/image-4.jpg') }}" alt="">
    </div>
</div>