<div class="cta-container">
    <div class="cta-inner-container">
        <div class="cta-box">
            <a href="#">
                <img src="{{ asset('images/homepage/ctas/cta-1.jpg') }}" alt="">
                <div class="cta-overlay">
                    <div class="cta-text">Cabins</div>
                </div>
            </a>
        </div>
        <div class="cta-box">
            <a href="#">
                <img src="{{ asset('images/homepage/ctas/cta-2.jpg') }}" alt="">
                <div class="cta-overlay">
                    <div class="cta-text">Lodges</div>
                </div>
            </a>
        </div>
        <div class="cta-box">
            <a href="#">
                <img src="{{ asset('images/homepage/ctas/cta-3.jpg') }}" alt="">
                <div class="cta-overlay">
                    <div class="cta-text">Menu</div>
                </div>
            </a>
        </div>
        <div class="cta-box">
            <a href="#">
                <img src="{{ asset('images/homepage/ctas/cta-4.jpg') }}" alt="">
                <div class="cta-overlay">
                    <div class="cta-text">Shop</div>
                </div>
            </a>
        </div>
    </div>
</div>