<div class="split-boxes">
    <div class="split-left-text">
        <div class="split-text-container">
            {{ content|raw }}
        </div>
    </div>
    <div class="split-right-image">
        <img src="{{ asset(image) }}" alt="Bed with a cup on top">
    </div>
</div>