<div class="image-text-overlay-container">
    <div class="overlay-text-box">
        <h2>Discover</h2>
        <p>See the world from the Wessex Ridgeway. Walk through the woods and see the deer. Take a picnic. Dine out in nature. Listen for birdsong or the rustle of woodland wildlife. Share tales from the trail. Smell the wood smoke. Plan tomorrow’s adventure.</p>
        <p>Learn some rural crafts, hire a bike and explore the North Dorset Trailway, walk on our Ancient Hill Forts, paddle in the river or explore the Blackmore Vale. Take a trip to the Jurassic Coast and find a fossil or visit the many attractions in the area.  </p>
        <p>Or discover the magic of Loose Reins; make the days as long as you want them to be, relax, unwind and enjoy the moment. </p>
        <a href="#">More About Us</a>
    </div>
    <img src="{{ asset('images/homepage/dorset-countryside.jpg') }}" alt="Landscape of dorset countryside">
</div>