{# @todo: Make this dynamic(reusable) eg. NOT HARDCODED #}

<div class="split-boxes">
    <div class="split-left-text">
        <div class="split-text-container">
            <h2>Stay.</h2>
            <p>Loose Reins is where the world slows down. It’s where the daily grind is left at the gate and a place of experience, discovery and relaxation opens up. It’s where you reconnect, come together and unwind in luxurious lodges or cosy cabins. Surrounded by beautiful Dorset countryside, it’s the place where life’s stresses end and life’s adventures begin.</p>
            <p>Put those feet up and toast marshmallows on the fire. Take things slow. Rock back on the cabin porch. Listen to the owls. Snuggle inside with the woodburner or feel the summer dew on your feet. Make friends with the ponies, make memories forever.</p>
            <p>Live the pioneer life in tranquil comfort. Share a home-cooked meal and share trail talk under the stars. ‘Do not go where the path may lead,’ As Ralph Waldo Emerson said, ‘go instead where there is no path and leave a trail.’ Discover Loose Reins. Discover your trail.</p>
        </div>
    </div>
    <div class="split-right-image">
        <img src="{{ asset('images/homepage/bed-cup.jpg') }}" alt="Bed with a cup on top">
    </div>
</div>