<div class="page-header">
    <div class="page-image-container">
        <img src="{{ asset('images/navigation_images/' ~ image) }}" alt="">
        <div class="page-header-title">
            <h1>{{ mainLink.title }}</h1>
        </div>
    </div>
</div>