<div>
    <div class="social-container">
        <div class="social-item"><a href="https://www.facebook.com/LooseReins" target="_blank"><i class="fab fa-facebook-f"></i></a></div>
        <div class="social-item"><a href="https://twitter.com/loosereins" target="_blank"><i class="fab fa-twitter"></i></a></div>
        <div class="social-item"><a href="https://www.tripadvisor.co.uk/Hotel_Review-g2052572-d10154928-Reviews-Loose_Reins-Shillingstone_Blandford_Forum_Dorset_England.html" target="_blank"><i class="fab fa-tripadvisor"></i></a></div>
        <div class="social-item"><a href="https://www.instagram.com/loosereinsdorset/" target="_blank"><i class="fab fa-instagram"></i></a></div>
    </div>
</div>