<div class="blog-article-preview">
    <div class="blog-container">
        <h2>Loose Talk</h2>
        <h3>We’ve some of the Best Walking Country in Dorset...</h3>
        <p class="date-published">28th November, 2018</p>
        <p>Treat yourself to a stay in one of our luxury cosy cabins to enjoy beautiful and extensive walking straight from your verandah. Loose Reins nestles in some of North Dorset’s most magnificent countryside. Our terrain varies from challenging and wild to easy under foot - however hard you like to work...</p>
        <div class="read-more-container">
            <a href="#">Read More</a>
        </div>
    </div>
</div>