<div class="image-text-overlay-container {{ className|default('') ?: '' }}">
    <div class="overlay-text-box">
        {{ content|raw }}
    </div>
    <img src="{{ asset(image) }}" alt="Landscape of dorset countryside">
</div>