{% extends 'base.html.twig' %}

{% block title %}Welcome to Loose Reins | Loose Reins{% endblock %}

{% block body %}

    <div class="homepage-header">
        <div class="homepage-image-container"></div>
        <div class="homepage-banner">
            <h1>LUXURY GLAMPING WITH A FRONTIER CHARM.</h1>
            <p>When the trail is stretching out in front of you, the sky is blue above you and the daily grind is well and truly to the rear, that’s one amazing feeling. Loose Reins is all about finding and enjoying that feeling, about discovering some wind-down time and enjoying the simple things in life.</p>
        </div>
    </div>

    {% for panel in homepage.panels %}
        {% if loop.index is odd %}
            {% include "partials/image-text-split.html.twig" with { "content": panel.content, "image": panel.image } only %}
        {% else %}
            {% include "partials/image-text-overlay.html.twig" with { "content": panel.content, "image": panel.image } only %}
        {% endif %}
    {% endfor %}

    {% include "partials/blog-article-preview.html.twig" %}
    {% include "partials/four-ctas.html.twig" %}

    {#{% include "partials/image-text-split.html.twig" %}#}
    {#{% include "partials/image-text-overlay.html.twig" %}#}


{% endblock %}

