{% extends "base.html.twig" %}

{% block body %}

    <div style="height: 500px; background-color: gray"></div>
    {# @var link \App\Entity\Page #}
    {#{% for link in subLinks %}#}
        {#<a href="{{ app.request.uri ~ '/' ~ link.slug }}">{{ link.title }}</a>#}
    {#{% endfor %}#}
    <div style="height: 500px; background-color: gray"></div>

{% endblock %}