{% extends "base.html.twig" %}

{% block title %}{{ mainLink.title }} | Loose Reins{% endblock %}

{% block body %}

    {% include "partials/page-header.html.twig" with {"image": mainLink.image} %}
    <div style="height: 500px; background-color: gray"></div>
    <div style="height: 500px; background-color: gray"></div>

{% endblock %}