{% extends "base.html.twig" %}

{% block title %}{{ subPage.title }} | Loose Reins{% endblock %}

{% block body %}

    {#--------------SUB PAGE TITLE--------------#}
    {% include "partials/page-header.html.twig" with {"title": subPage.title,"image": subPage.previewImage} %}

    {#--------------SUB PAGE PANELS-------------#}
    {% include "panels/curated-content.html.twig" with {"panels": subPage.panels} only %}

    <div style="height: 500px; background-color: gray"></div>

{% endblock %}