{% extends "base.html.twig" %}

{% block title %}Admin | Loose Reins{% endblock %}

{% block body %}

    <div class="admin-header">
        <h1>Admin</h1>
        <div class="admin-header-options">
            <div>Hello, Tom <i class="fas fa-angle-down"></i></div>
            <ul>
                <li><a href="">Logout</a></li>
            </ul>
        </div>
    </div>

    <div class="side-navigation">
        <div>
            <span class="nav-list-items"><a class="nav-links" href="#"><i class="fas fa-home"></i><span>Homepage</span></a></span>
            <span class="nav-list-items"><a class="nav-links" href="#"><i class="fas fa-link"></i></i><span>Navigation</span></a></span>
            <div class="admin-dropdown-container">
                <span class="nav-list-items"><a class="nav-links" href="#"><i class="fas fa-book-open"></i><span>Articles</span><i class="fas fa-chevron-left"></i></a></span>
                <ul class="admin-dropdown">
                    <li><a href="">View All</a></li>
                    <li><a href="">Create</a></li>
                </ul>
            </div>

            <span class="nav-list-items"><a class="nav-links" href="#"><i class="fas fa-sticky-note"></i><span>Pages</span></a></span>
            <span class="nav-list-items"><a class="nav-links" href="#"><i class="fas fa-cog"></i><span>Settings</span></a></span>
        </div>
    </div>

    {#<div class="article-editor-container">#}
        {#<h1>Admin</h1>#}
        {#{{ form(form) }}#}
    {#</div>#}

{% endblock %}

{% block navigation %}
    {% include "admin/navigation.html.twig" %}
{% endblock %}
{% block footer %}{% endblock %}
{% block sticky_book_now %}{% endblock %}
{% block sticky_social_icons %}{% endblock %}