form[name="contact_us"]{
    #contact_us_message {
        height: 250px;
        min-height: 100px;
        max-height: 250px;
    }

    label {
        font-size: 1.25rem;
    }

    #contact_us_submit {
        display: inline-block;
        font-family: 'Lora', serif;
        font-size: 1.25rem;
        font-style: italic;
        text-decoration: none;
        background-color: #475356;
        color: #fff;
        padding: 0.75rem 3rem;
        margin-bottom: 1rem;
        margin-right: 1rem;
        border: 1px solid transparent;
        transition: all 0.2s ease-out;
        border-radius: 0;

        &:hover {
            background-color: #de6d4d;
        }
    }
}

