.split-boxes {
    display: flex;
    height: 700px;

    @include media-breakpoint-down(md){
        height: 100%;
        flex-direction: column;
    }

    .split-left-text,
    .split-right-image {
        flex-basis: 50%;

        @include media-breakpoint-down(md){
            flex-basis: 100%;
        }
    }

    .split-left-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6rem;
        height: 100%;

        @include media-breakpoint-down(lg){
           padding: 4rem;
        }

        @include media-breakpoint-down(md){
            padding: 2rem;
        }
    }
    
    .split-right-image {
        position: relative;
        overflow: hidden;

        @include media-breakpoint-down(md){
            overflow: visible;
        }

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            transform: translate(-50%, -50%);

            @include media-breakpoint-down(md){
                position: relative;
                top: unset;
                left: unset;
                max-width: 100%;
                transform: translate(0, 0);
            }
        }
    }
}