.split-boxes {
    display: flex;
    min-height: 700px;

    @include media-breakpoint-down(md){
        display: block;
        min-height: 100%;
    }

    .split-left-text,
    .split-right-image {
        flex-basis: 50%;

        @include media-breakpoint-down(md){
            flex-basis: 100%;
        }
    }

    .split-left-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6rem;

        @include media-breakpoint-down(lg){
           padding: 4rem;
        }

        @include media-breakpoint-down(md){
            padding: 2rem;
        }

        p {
            position: relative;
        }
        a {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            font-family: 'Lora', serif;
            font-size: 1.25rem;
            font-style: italic;
            text-decoration: none;
            background-color: #475356;
            color: #fff;
            padding: 0.75rem 3rem;
            border: 1px solid transparent;
            transition: all 0.2s ease-out;

            &:hover {
                background-color: #de6d4d;
            }

            &.small-link {
                position: static;
                display: inline;
                font-family: 'Roboto Condensed', sans-serif;
                font-style: normal;
                text-decoration: none;
                background-color: #fff;
                color: #907c51;
                cursor: pointer;
                padding: 0;
                border: none;
                transition: all 0.2s ease-out;
            }
        }
    }
    
    .split-right-image {
        position: relative;
        overflow: hidden;

        @include media-breakpoint-down(md){
            overflow: visible;
        }

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            display: block;
            transform: translate(-50%, -50%);

            @include media-breakpoint-down(md){
                position: static;
                top: auto;
                left: auto;
                max-width: 100%;
                transform: none;
            }
        }
    }
}