.image-text-overlay-container {
    position: relative;
    overflow: hidden;
    height: 800px;

    @media screen and (min-width: 1600px){
        height: 900px;
    }

    @include media-breakpoint-down(md){
        height: auto;
    }

    img {
        // NOTE: position, top, left and transform are not actually needed, a very
        // similar effect is given without these, the image is just positioned slightly differently
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        min-width: 100%;
        min-height: 100%;
        transform: translate(-50%, -50%);

        @include media-breakpoint-down(md){
            position: relative;
            top: auto;
            left: auto;
            transform: none;
            width: 100%;
        }
    }

    .overlay-text-box {
        position: absolute;
        z-index: 10;
        background-color: #fff;
        top: 50px;
        right: 50px;
        bottom: 50px;
        left: 52%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 6rem;

        @media screen and (min-width: 1600px){
            top: 100px;
            right: 100px;
            bottom: 100px;
            left: 55%;
        }

        @include media-breakpoint-down(lg){
            padding: 0 3rem;
        }

        @include media-breakpoint-down(md){
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            padding: 2rem 3rem;
        }

        @include media-breakpoint-down(sm){
            padding: 2rem 2rem;
        }

        h2 {
            font-family: 'Lora', serif;
        }

        a {
            font-family: 'Lora', serif;
            font-size: 1.25rem;
            font-style: italic;
            text-decoration: none;
            background-color: #475356;
            color: #fff;
            padding: 0.75rem 3rem;
            border: 1px solid transparent;
        }
    }
}