.sticky-social-icons {
    position: fixed;
    z-index: 30;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    transition: all 0.2s ease-in-out;

    &.active {
        opacity: 0;
        z-index: -1;
    }

    @include media-breakpoint-down(md){
        display: none;
    }

    .social-item {
        @include social-icon;
        margin: 0.5rem 0;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: #a1c349;
        }

        a {
            padding: 1rem;

            &:hover {
                i {
                    color: #fff;
                }
            }

            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                padding: 0.5rem
            }

            i {
                color: #a1c349;
                font-size: 1.5rem;
                transition: color 0.1s ease-in-out;
            }
        }
    }
}