.header-container {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    transition: all 0.2s ease-in-out;

    // WHEN SCROLLING

    // @todo REFACTOR .scrolling
    &.scrolling{
        @include media-breakpoint-up(lg){
            background-color: #504b23;
            position: fixed;
            left: 0;
            right: 0;

            .top-nav-container {
                .top-nav {
                    height: 40px;
                    transition: all 0.2s ease-in-out;
                }
            }

            .logo-container {
                margin-bottom: 0;
                .main-logo {
                    width: 250px;
                    margin-bottom: 1rem;
                    transition: all 0.2s ease-in-out;
                }
            }

            .bottom-nav-container {
                .bottom-nav {
                    //margin-bottom: 0.5rem;
                    transition: all 0.2s ease-in-out;
                }
            }
        }

        @include media-breakpoint-down(lg){
            .top-nav-container {
                .top-nav {
                    height: 30px;
                    transition: all 0.2s ease-in-out;
                }
            }

            .logo-container {
                margin-bottom: 0;
                .main-logo {
                    width: 250px;
                    margin-bottom: 0;
                    transition: all 0.2s ease-in-out;
                }
            }

            .bottom-nav-container {
                .bottom-nav {
                    //margin-bottom: 0.5rem;
                    transition: all 0.2s ease-in-out;
                }
            }
        }

        @include media-breakpoint-down(md) {
            .logo-container {
                .main-logo {
                    width: 100%;
                }
            }

            .bottom-nav-container {
                .bottom-nav {
                   //margin-bottom: 1rem;
                }
            }
        }
    }

    @include media-breakpoint-down(md){
        position: absolute;
        background-color: #504b23;
    }


    a {
        text-decoration: none;
        color: #fff;
        font-weight: 300;
    }

    .top-nav-container {
        display: flex;
        justify-content: flex-end;

        @include media-breakpoint-down(md){
            display: none;
        }

        .top-nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            padding: 0;
            margin-bottom: 0;
            width: 550px;
            height: 50px;
            transition: height 0.2s ease-in-out;

            @include media-breakpoint-down(lg){
                height: 40px;
            }

            a {
                font-size: 1.125rem;
                text-transform: uppercase;
                transition: color 0.2s ease-in-out;

                &:hover {
                    color: #a1c349;
                }

                @include media-breakpoint-down(lg){
                    font-size: 1rem;
                }
            }
        }
    }

    .logo-container {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        transition: all 0.2s ease-in-out;

        @include media-breakpoint-down(lg){
            margin-bottom: 0;
        }

        @include media-breakpoint-down(md){
            padding: 1.5rem 0 0.5rem 0;
        }

        .main-logo {
            width: 500px;
            transition: all 0.3s ease-in-out;

            @include media-breakpoint-down(lg){
                transition: all 0.2s ease-in-out;
                width: 250px;
                height: 60px;
            }

            @include media-breakpoint-down(md){
                max-width: 520px;
                width: 100%;
                height: 100%;
                padding: 0 0.5rem;
            }
        }
    }


    .bottom-nav-container {
        display: flex;
        justify-content: center;

        .bottom-nav {
            @include navigation{
                width: 75%;
            }
            transition: height 0.3s;

            @include media-breakpoint-down(md){
                display: block;
                overflow-y: hidden;
                height: 0;
                margin-bottom: 1rem;
            }

            .mobile-nav-item{
                display: none;

                @include media-breakpoint-down(md){
                    display: block;
                }
            }

            li {
                @include media-breakpoint-down(md){
                    width: 100%;
                }

                a {
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    padding: 0.5rem;
                    width: 100%;
                    height: 100%;
                    display: block;
                    transition: background-color 0.2s ease-in-out;

                    &:hover {
                        background-color: rgba(161,195,73,0.7);
                    }

                    &.active {
                        @include media-breakpoint-up(lg){
                            background-color: #a1c349;
                        }
                    }

                    @include media-breakpoint-down(lg){
                        font-size: 1.125rem;
                    }

                    @include media-breakpoint-down(md){
                        display: block;
                        text-align: center;
                        padding: 0.5rem 0;
                    }
                }
            }
        }
    }

    .dropdown-nav-container {
        display: flex;
        justify-content: center;
        background-color: #a1c349;

        @include media-breakpoint-down(md){
            display: none;
        }

        .dropdown-nav {
            @include navigation;

            .sublink {
                display: block;
                font-family: 'Lora', serif;
                font-size: 1.1rem;
                padding: 0.5rem;
                margin: 0 0.5rem;

                @include media-breakpoint-down(lg){
                    font-size: 0.9rem;
                }
            }
        }
    }


    .mobile-menu-btn {
        display: none;

        @include media-breakpoint-down(md){
            position: absolute;
            left: 50%;
            transform: translate(-50%, -30%);
            display: block;
            height: 40px;
            width: 90px;
            border: none;
            padding-bottom: 0.5rem;
            background-color: #504b23;
            //-webkit-clip-path: polygon(0 0,100% 0,78% 100%,22% 100%);
            clip-path: polygon(0 0,100% 0,78% 100%,22% 100%);

            &:focus{
                outline: 0;
            }

            &.active {
                .menu-line {
                    position: relative;
                    &:nth-of-type(1){
                        top: 6px;
                        transform: rotate(45deg);

                    }
                    &:nth-of-type(2){
                        transform: scale(0);
                    }
                    &:nth-of-type(3){
                        bottom: 6px;
                        transform: rotate(-45deg);
                    }
                }
            }
        }

        .menu-line {
            @include media-breakpoint-down(md){
                display: block;
                background: #fff;
                height: 2px;
                width: 22px;
                margin: 0.25rem auto;
            }
        }
    }
}