<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
    </head>
    <body>


        <nav class="header-container">
            <div class="top-nav-container">
                <ul class="top-nav">
                    <li><a href="#">Book</a></li>
                    <li><a href="#">Before you book</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="logo-container">
                <img class="main-logo" src="{{ asset('images/LooseReinsLogo.svg') }}" alt="logo">
            </div>
            <div class="bottom-nav-container">
                <ul class="bottom-nav">
                    <li><a href="#">Cabins</a></li>
                    <li><a href="#">Lodges</a></li>
                    <li><a href="#">Loose reins country</a></li>
                    <li><a href="#">Out and about</a></li>
                    <li><a href="#">Pantry</a></li>
                    <li><a href="#">Loose talk</a></li>
                    <li><a href="#">Reviews</a></li>
                    <li class="mobile-nav-item"><a href="#">Book</a></li>
                    <li class="mobile-nav-item"><a href="#">Before you book</a></li>
                    <li class="mobile-nav-item"><a href="#">Offers</a></li>
                    <li class="mobile-nav-item"><a href="#">Gallery</a></li>
                    <li class="mobile-nav-item"><a href="#">Contact</a></li>
                </ul>
            </div>
            <button class="mobile-menu-btn">
                <span class="menu-line"></span>
                <span class="menu-line"></span>
                <span class="menu-line"></span>
            </button>
        </nav>

        {% block sticky_book_now %}
            <div class="booking-bar">
                <button class="booking-button">Book Now</button>
                <div></div>
            </div>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
            <script src="{{ asset('build/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
