{% extends 'base.html.twig' %}

{% block body %}
    <div style="background-color: grey; height: 500px;"></div>

    {{ article.title }}
    {{ article.content|raw }}

    <div style="background-color: grey; height: 500px;"></div>
{% endblock %}


