<footer class="footer">
    <div class="left-container">
        <address>
            Loose Reins,<br>
            Ridgeway Farm,<br>
            Shillingstone,<br>
            Dorset,<br>
            DT11 0TF
        </address>
    </div>
    <div class="right-container">
        {% include "partials/social-icons.html.twig" %}
        <p class="contact-number">01258 863533</p>
        <div class="footer-nav">
            <a href="#">FAQs</a>
            <a href="#">Accessibility Guide</a>
            <a href="#">Terms &amp; Conditions</a>
            <a href="#">Eco Policy</a>
            <a href="#">Privacy</a>
        </div>
        <button class="signup">Signup</button>
        <p class="copyright">Website by Tom Dempster &copy; {{ "now"|date('Y') }}</p>
    </div>
</footer>